<!DOCTYPE html>
<html>
<head>
    <title>Straw Hat Pirates</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <header class="site-header">
        <div class="container header-inner">
            <div class="logo">
                <a href="/">☠ Straw Hat Pirates</a>
            </div>
            <nav>
                <ul class="nav-list">
                    <li><a href="/">Home</a></li>
                    <li><a href="/luffy">Luffy</a></li>
                    <li><a href="/zoro">Zoro</a></li>
                    <li><a href="/nami">Nami</a></li>
                    <li><a href="/sanji">Sanji</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="container main-content">
