<%- include('header') %>

<section class="home-hero">
    <h1>Straw Hat Pirates</h1>
    <p>Welcome to my LAB04 website about the Straw Hat Pirates from One Piece.</p>

    <div class="hero-image-wrapper">
        <img src="/images/strawhats.png" alt="Straw Hat Pirates" class="hero-image">
    </div>
</section>

</main>
</body>
</html>
