<%- include('header') %>

<section class="character-card">
    <div class="character-image-wrapper">
        <img src="/images/luffy.png" alt="Monkey D. Luffy" class="character-image">
    </div>
    <div class="character-info">
        <h1>Monkey D. Luffy</h1>
        <div class="character-role">Captain of the Straw Hat Pirates</div>
        <p>
            Luffy is the optimistic and fearless captain of the Straw Hat crew.
            He ate the Gomu Gomu no Mi, which turned his body into rubber.
        </p>
        <ul>
            <li>Role: Captain</li>
            <li>Dream: Find the One Piece and become Pirate King</li>
            <li>Ability: Rubber body from Devil Fruit</li>
        </ul>
    </div>
</section>

</main>
</body>
</html>
