<%- include('header') %>

<section class="character-card">
    <div class="character-image-wrapper">
        <img src="/images/nami.png" alt="Nami" class="character-image">
    </div>
    <div class="character-info">
        <h1>Nami</h1>
        <div class="character-role">Navigator of the Straw Hat Pirates</div>
        <p>
            Nami is a brilliant navigator with an incredible sense for weather and mapping.
            She helps steer the crew safely through the Grand Line.
        </p>
        <ul>
            <li>Role: Navigator</li>
            <li>Dream: Draw a complete map of the world</li>
            <li>Weapon: Clima-Tact</li>
        </ul>
    </div>
</section>

</main>
</body>
</html>
