<%- include('header') %>

<section class="character-card">
    <div class="character-image-wrapper">
        <img src="/images/sanji.png" alt="Sanji" class="character-image">
    </div>
    <div class="character-info">
        <h1>Sanji</h1>
        <div class="character-role">Cook of the Straw Hat Pirates</div>
        <p>
            Sanji is the crew's chef and a powerful fighter who relies on his legs in combat.
            He dreams of finding the legendary sea, the All Blue.
        </p>
        <ul>
            <li>Role: Cook</li>
            <li>Dream: Discover the All Blue</li>
            <li>Fighting Style: Black Leg Style</li>
        </ul>
    </div>
</section>

</main>
</body>
</html>
